.friends-item {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 24px -16px rgba(66, 68, 90, 1);
    max-width: 300px;
    display: flex;
    align-items: center;
    gap: 15px;
    &-status {
        width: 20px;
        height: 20px;
        border-radius: 20px;
        background-color: rgb(191, 5, 5);
    }
    &-online {
        background-color: rgb(37, 255, 37);
    }
}